@font-face {
	font-family: "iconfont";
	/* Project id 3707789 */
	src: url('iconfont.woff2?t=1665819113082') format('woff2'),
		url('iconfont.woff?t=1665819113082') format('woff'),
		url('iconfont.ttf?t=1665819113082') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jingyin:before {
	content: "\e600";
}

.icon-pause:before {
	content: "\e63a";
}

.icon-quanping:before {
	content: "\e63f";
}

.icon-play:before {
	content: "\e622";
}

.icon-volume:before {
	content: "\e6e3";
}

.icon-play1:before {
	content: "\e6dd";
}

.icon-tuichuquanping:before {
	content: "\e629";
}
